{"SDKInfo":"{\"m_type\":0,\"m_content\":\"{\\\"SchemeName\\\":\\\"Android\\\",\\\"UseNewSDKManager\\\":false,\\\"LogScheme\\\":[],\\\"LoginScheme\\\":[],\\\"ADScheme\\\":[],\\\"PayScheme\\\":[],\\\"RealNameScheme\\\":[],\\\"OtherScheme\\\":[]}\",\"m_enumType\":\"\"}"}