{"SDKInfo":"{\"m_type\":0,\"m_content\":\"{\\\"SchemeName\\\":\\\"Android\\\",\\\"LogScheme\\\":[],\\\"LoginScheme\\\":[{\\\"SDKName\\\":\\\"GoogleLogin\\\",\\\"SDKContent\\\":\\\"{\\\\\\\"m_SDKName\\\\\\\":\\\\\\\"\\\\\\\",\\\\\\\"appid\\\\\\\":\\\\\\\"11\\\\\\\",\\\\\\\"apppkey\\\\\\\":\\\\\\\"22\\\\\\\"}\\\"}],\\\"ADScheme\\\":[],\\\"PayScheme\\\":[],\\\"OtherScheme\\\":[],\\\"AndroidkeystoreName\\\":\\\"\\\",\\\"AndroidkeystorePass\\\":\\\"\\\",\\\"AndroidkeyaliasName\\\":\\\"\\\",\\\"AndroidkeyaliasPass\\\":\\\"\\\"}\",\"m_enumType\":\"\"}"}